.header__1 {
    max-width: 1200px; 
    height: 1086px; 
    background: rgb(21, 22, 23);
    margin: 0 auto;
}

.main__page {
    height: 100px; 
    display: flex;
    align-items: center;
}

.img__header__svg__button {
    display: inline-block; 
    contain: size;
        display: contents;
        
    
}

.header__list__ul_2 {
    display: flex;
    gap: 50px;
    padding: 39px 117px;
}

.side__window__start {
    width: 154px;
    height: 506px;
    border-radius: 0px 12px 12px 0px;
    background: rgb(42, 44, 45);
    display: grid;
    gap: 15px;
    position: fixed; 
    top: 100px; 
}

.side__window__icon {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    color: rgb(171, 175, 255);
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    cursor: pointer; 
    transition: background 0.3s ease; 
    width: 114px;
    height: 71px;
}

.side__window__icon:hover {
    background: rgb(68, 69, 69); 
    border-radius: 12px; 
    color: rgb(255, 255, 255); 
}

.side__window__icon1 {
    color: rgb(171, 175, 255);
    font-size: 10px;
}





.komponi__komponent__1{
    width: 510px;
    height: 258px;
    box-sizing: border-box;
    border: 1px solid rgb(68, 69, 69);
    border-radius: 12px;
    position: relative;
    left: 170px;
}


.komponi__span__1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 13PX 20PX;
    gap: 10px;
}

.komponi__img{
    padding: 20px 233px;
}
.komponi__span__2{
    color: rgb(255, 255, 255);
   
    display: flex;
    padding: 51px 14px 0 51px;
    gap: 45px;
}
.komponi__i{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 14px;
}
.komponi_number{
    text-align: center;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
}
.updated__text{
    width: 421px;
    height: 258px;
    box-sizing: border-box;
    border: 1px solid rgb(68, 69, 69);
    border-radius: 12px;
    padding: 21px 40px;
    position: relative;
    bottom: 274px;
    /* left: 120px; */
    margin-left: 700px;
}

.updated__text__li_1{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
}
.updated__text__li_2{
    list-style: outside;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}


.more__info{
    contain: size;
    /* display: contents; */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    position: relative;
    padding: 25;
    position: relative;
    top: 223px;
    left: 110px;
    background: bottom;
    position: absolute;
    z-index: 10000;
}
.total__vacancy{
    width: 334px;
    height: 154px;
    box-sizing: border-box;
    border: 1px solid rgb(68, 69, 69);
    border-radius: 12px;
    /* margin-top: 20px; */
    padding: 15px 20px 20px 20px;
    position: relative;
    bottom: 271px;
    left: 169px;
}

.total__vacancy__text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
}


.total__text__1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
}

.total__text__2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    position: relative;
    bottom: 17px;
}
























.StatisticsWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .StatisticsWindow h3 {
    margin-bottom: 20px;
    color: #333;
  }
  
















  .statistics__window{
    width: 597px;
    height: 252px;
    box-sizing: border-box;
    border: 1px solid rgb(68, 69, 69);
    border-radius: 12px;
    background: rgb(21, 22, 23);
    padding: 20px 29px;
    position: relative;
    bottom: 425px;
    left: 533px;
}
  

  .statistics__window__ul{
    padding: 0px 8px;
  }

  .statistics__window__li__1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .statistics__window__li__2{
    position: relative;
    top: 16px;
    left: 15px;
    color: rgb(255, 255, 255);
    font-family: Roboto Inter;
    font-size: 40px;
  }
.statistics__i{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}




.statistics__window__li__3{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 22px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 13px;
}

.statistics__window__li__4{
    display: flex;
    align-items: center;
    gap: 10px;
   
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 13px;
    margin-left: 5px;
}

.statistics__window__li__5{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 13px;
    margin-left: 8px;
}

.statistics__p{
    width: 509px;
   
border: 1px solid rgb(255, 255, 255);
}
.statistics__window__img{
    position: absolute;
    z-index: 1000;
    right: 33px;
    bottom: 50px;
}

.statistics__window__ul__2{
    display: flex;
    justify-content: end;
    gap: 131px;
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 13px;
}








.file-upload-form {
    box-sizing: border-box;
    border: 1px solid rgb(68, 69, 69);
    border-radius: 12px;
    padding: 23px;
    display: flex;
    align-items: center;
    gap: 20px;
  
    width: 334px;
    height: 78px;
    position: relative;
    right: 401px;
    bottom: 55px;
}

.upload-image {
    width: 24px; 
    height: 24px;
}

.file-input {
    display: none;
}

.custom-file-upload {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
}




.candidate-recommendations{
    display: flex;
    justify-content: right;
    margin-right: 6px;
    gap: 17px;
}



.card__candidate{
    width: 303.67px;
    height: 231px;
    border-radius: 30px;
    background: rgb(42, 44, 45);
}
.text__candidate__recommendations{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    position: relative;
    right: 380px;
}

.button__card__candidate{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;
    background: rgb(171, 175, 255);
    height: 27px;
    color: white;
}



.img1__card__candidate{
    margin-left: 110px;
    margin-top: 12px;
}

.img2__card__candidate{
    margin-top: 20px;
    margin-left: 20px;
}

.text1__card__candidate{
    display: grid;
    gap: 6px;
    position: relative;
    bottom: 75px;
    left: 90px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
}

.text2__card__candidate{
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 14px;
}


.ul__card__candidate{
    position: relative;
    bottom: 54px;
    display: flex;
    gap: 73px;
    text-align: center;
    align-items: center;
}

.li1__card__candidate{
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    width: 46px;
}


.li2__card__candidate{
    position: relative;
    bottom: 8px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
}

.i__card__candidate{
    position: relative;
    top: 17px;
    right: 16px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 9px;
}

.img3__card__candidate{
    position: relative;
    top: 7px;
}

