* {
    list-style-type: none;
    font-family: sans-serif;
    text-decoration: none;
}

header {
    width: 1200px;
    height: 703px;
    background: rgb(21, 22, 23);
}
.userkandidat__header{
    width: 1200px;
    height: 100px;
    align-items: center;
    display: flex;
}
.header__form__users__2{
    padding: 150px 258px 258px 289px;
}








.form__start__input__2{
    display: inline-grid;
    gap: 20px;
}


.input__form__text__2{
    border: 1px solid rgb(42, 44, 45);
    border-radius: 12px;
    background: rgb(68, 69, 69);
    width: 352px;
    padding: 13px 14px;
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 18px;
}

.input__form__city__2{
    border: 1px solid rgb(42, 44, 45);
    border-radius: 12px;
    background: rgb(68, 69, 69);
    padding: 10px 13px;
    width: 260px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}





.gender{
    position: relative;
    right: 73px;
    top: 66px;
    box-sizing: border-box;
    border: 1px solid rgb(21, 22, 23);
    border-radius: 12px;
    background: rgb(68, 69, 69);
    padding: 10px 13px;
    width: 82px;
}

.Document__2{
    width: 289px;
    height: 264px;
    box-sizing: border-box;
    border: 1px solid rgb(68, 69, 69);
    border-radius: 12px;
    /* padding: 0px 20px 20px; */
    margin-left: 462px;
    position: relative;
    bottom: 276px;
}

.document__text__icon{
    padding: 0px 20px 20px;
}

.text__document{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
}

.img__document{
    margin-left: 115px;
    position: relative;
    bottom: 11px;
}
.text__document__p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}
.text__document__p_2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
}
.img__imgkandidaticon2{
    width: 48px;
    height: 69px;
    background: rgb(211, 211, 211);
}
.img__imgkandidaticon2__icon{
    border-radius: 9px;
    background: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 5px;

    width: 38px;
    height: 38px;
}



.ul__anime__list1{   display: flex;
gap: 100px;
width: 334px;
height: 58px;
position: relative;
right: 450px;
}


.modal {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 289px;
    height: 208px;
}

.modal__okno__2{
    position: relative;
    right: 177px;
    bottom: 60px;
}

.modal__h2__text{
        position: relative;
    left: 422px;
}

.img__password__document{
    width: 375px;
    height: 211px;
}

.class__list__contry{
    display: grid;
    gap: 13px;
    position: relative;
    bottom: 198px;
    left: 414px;
}

.list__country{border: 1px solid rgb(42, 44, 45);
border-radius: 12px;
background: rgb(68, 69, 69);
padding: 13px;
}

.input__number{
    border: 1px solid rgb(42, 44, 45);
    border-radius: 12px;
    background: rgb(68, 69, 69);
    padding: 13px;
}

.button__modalokno__2{
    border-radius: 12px;
    background: rgb(106, 89, 255);
    padding: 13px;
    width: 352px
}
.btn__modalokno__2{
    position: relative;
    left: 420px;
    bottom: 150px;
}
.list__icons__modalokno__2{
    display: flex;
    gap: 40px;
    position: relative;
    right: 180px;
    top: 30px;
}


.overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-buttons {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
    margin-bottom: 20px; /* Отступ снизу */
}
.text__modal{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    /* padding: 19px 16px; */
    /* margin-right: 171px; */
    position: relative;
    right: 101px;
 
}

.i__modal{
    width: 19.46px;
    height: 17.98px;
    border: dotted;
    color: darkslategray;
    position: relative;
    right: 126px;
}

.text__modal__2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}

.modal-buttons{
    width: 12px;
    height: 18px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    position: relative;
    top: 20px;
    right: 92px;
}
.icons__loading{
    width: 38px;
    height: 38px;
    border-radius: 9px;
    background: rgb(0, 0, 0);
}
.icons__camera{
    height: 38px;
    border-radius: 9px;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
    bottom: 3px;

}





