* {
    list-style-type: none;
    font-family: sans-serif;
    text-decoration: none;
}

header {
    width: 1200px;
    height: 720px;
    background: rgb(21, 22, 23);
}

.nav__header {
    width: 1200px;
    height: 100px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo {
    color: rgb(106, 89, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 38px 80px;
}

.header__list__ul {
    display: flex;
    gap: 50px;
}

.img__ul__svg {
    display: flex;
    gap: 36px;
    align-items: center;
    margin-left: 117px;
}

.img__header__svg {
    width: 16px;
    height: 18px;
}

.header__li__text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}

.header__form__users {
    padding: 150px 350px 437px 437px;
}

.form__text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    bottom: 40px;
}

.form__start__input {
    display: inline-grid;
    gap: 20px;
}

.input__form__text,
.input__form__email {
    border: 1px solid rgb(42, 44, 45);
    border-radius: 12px;
    background: rgb(68, 69, 69);
    padding: 13px 13px;
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 18px;
}

.btn__form {
    width: 326px;
    height: 44px;
    border-radius: 12px;
    background: rgb(106, 89, 255);
    margin-top: 20px;
}

.anime__ball1 {
    position: relative;
    top: 87px;
    right: 42px;
}
.anime__li__ball,
.anime__li__ball2,
.anime__li__ball3 {
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 300px;
}

.anime__li__ball {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(171, 175, 255);
}

.anime__li__ball2 {
    background: rgb(68, 69, 69);
}

.anime__li__ball2.active {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(171, 175, 255);
}

.anime__li__ball3 {
    background: rgb(68, 69, 69);
}

.ul__anime__list {
    display: flex;
    gap: 100px;
    width: 334px;
    height: 58px;
}

.anime__li__p {
    width: 100px;
    height: 2px;
    margin-left: 37px;
    background: rgba(255, 255, 255, 0.7);
}










/* 
стили usereducation
 */
 .header__form__users__1{
    padding: 161px 258px 590px;
 }
 
.education{
    display: inline-grid;
    gap: 40px;
    position: relative;
    bottom: 48px;
    justify-content: center;
    /* position: absolute; */
    /* z-index: 1; */
    align-items: center;
}

.education__text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}




.education__select{
    box-sizing: border-box;
    border: 1px solid rgb(21, 22, 23);
    border-radius: 12px;
    background: rgb(68, 69, 69);
    padding: 10px 13px;
    width: 352px;
  
    position: relative;
    right: 4px;
}


.button__education{
    width: 352px;
    height: 44px;
    border-radius: 12px;
    background: rgb(106, 89, 255);
}
.img__imgkandidaticon{
    width: 48px;
    height: 69px;
    background: rgb(211, 211, 211);
}
.img__imgkandidaticon2__icon__document{
    border-radius: 9px;
    background: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 5px;
    width: 38px;
    height: 38px;
    color: white;
}

.icon__imgkandidaticon2__document{
    margin-left: 78px;
    position: relative;
    bottom: 60px;
    color: rgba(255, 255, 255, 0.7);
    width: 38px;
    height: 38px;
}
.input__imgkandidaticon2__document{
    border-radius: 3px;
    background: rgb(211, 211, 211);
    width: 48px;
    height: 17px;
    position: relative;
    top: 5px;
    right: 2px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 9px;
}

.anime__ball1222{    position: relative;
bottom: 145px;
left: 202px;

}